#fullScreenImg img {
    margin: -10%;
    width: 120%;
}

#fullScreenImg {
    color: white;
    font-size: small;
}

#twoColumnsImg .columns-2 {
    margin-right: -30%;
}

.columns-2 img{
    width: 60%;
}

img {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#img50 img {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

#img70 img {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

#img80 img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -3%;
}

#img85 img {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: -3%;
}

#img90 img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -3%;
}

#img100 img {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: -3%;
}
